@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "LexenDeca";
        src: url("./assets/fonts/LexendDeca-Light.ttf") format("ttf");
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: "Lexend Deca";
        src: url("./assets/fonts/LexendDeca-Regular.ttf") format("ttf");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Lexend Deca";
        src: url("./assets/fonts/LexendDeca-Medium.ttf") format("ttf");
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: "Lexend Deca";
        src: url("./assets/fonts/LexendDeca-SemiBold.ttf") format("ttf");
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: "Lexend Deca";
        src: url("./assets/fonts/LexendDeca-Bold.ttf") format("ttf");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Lexend Deca";
        src: url("./assets/fonts/LexendDeca-ExtraBold.ttf") format("ttf");
        font-weight: 700;
        font-style: normal;
    }
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}


.cursor-grab {
    cursor: grab;
}

.cursor-grabbing {
    cursor: grabbing;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    /* scroll-behavior: smooth; */
}

#loading-sparkle{
    background-image: url("./public/assets/giphy.gif");
    background-position-x: 0%;
    
    background-repeat: no-repeat;
    background-size: 50%;
    /* width: 100vw; */
    height: 100vh;
}
/* body::-webkit-scrollbar {display: none;} */
/* html.has-scroll-smooth {
    overflow: hidden; 
  } */
/* #arButton { position: fixed; top: 20px; left: 20px; z-index: 1; padding: 10px; background-color: #fff; border: 1px solid #ccc; cursor: pointer; }
  #arContainer { display: none; width: 100%; height: 100%; } */
.main {
    position: relative;
    /* overflow: hidden; */
    /* min-width: 1500px; */
    /* background-color: #cfcfcf; */
    background-color: #f3f3f3;
    overflow: hidden;
}

.mobile-view-css {
    position: absolute;
    left: 0;
    translate: -50%;
}

nav {
    width: 100%;
    height: 60px;

    /* background-color: #c04444; */
}

.main nav {
    background-color: #f3f3f3;
    /* background-color: #cfcfcf; */
}

.nav {
    width: calc(100%);
    min-width: none;
    /* height: 60px; */
    position: fixed;
    /* background-color: #f3f3f3; */
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 20;
    padding: 0 25px;

    /* padding: 0 25px; */
}

.nav svg {
    /* width: 100px; */
    fill: black;
    height: 60px;
}

.nav i {
    color: black;
}

.nav i:hover {
    color: #18848ecc;
}

.middlecont {
    /* width: 800px; */
    display: flex;

    gap: 20px;

}

.capsule {
    width: 135px;
    height: 34px;
    border-radius: 20px;
    /* background-color: #dbdbdb5e; */
    text-align: center;
    display: flex;
    justify-content: center;
    /* outline: 1px solid black; */
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;

}

.capsule :hover {
    transform: scale(1.09);
    color: rgba(24, 132, 142, 0.8);
}

.capsule h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    font-weight: 400;
}

.capsule i {
    font-size: 28px;

}

.endcontent {
    /* width: 190px;
    height: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */

}

.endcontent i {
    font-size: 24px;
    cursor: pointer;
}


.endcontent .ri-shopping-cart-fill {
    font-size: 25px;
    padding-top: 3px;
    margin-right: 22px;
}

.endcontent .ri-shopping-cart-fill:hover {
    transform: scale(1.09);
    color: rgba(24, 132, 142, 0.8);
    /* rotateY(180deg) */
}

.endcontent .ri-arrow-drop-down-line {
    padding-top: 2px;
}

.ri-menu-fill {
    padding-top: 3px;
}

.endcontent .profile {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.endcontent .profileicon {
    width: 24px;
    height: 23px;
    border-radius: 15px;
    outline: 2px solid black;
    background-color: white;
    text-align: center;
    overflow: hidden;

}

.profileicon i {
    font-size: 18px;
    margin-top: 1px;
}

.page1 {
    position: relative;
    height: 110vh;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */


}

.content {
    width: calc(100vw/1.37);
    /* height: 360px; */
    margin: 60px 0 0 100px;

}

.content h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: calc(100vw/10.66);
    text-transform: capitalize;
    color: rgba(0, 96, 105, 0.775);
    font-weight: 600;
    line-height: calc(100vw/11.29);
    letter-spacing: 2px;

}

.content2 {
    font-family: "Lexend Deca", sans-serif;
    width: 1000px;
    height: 150px;
    font-size: calc(100vw/38.4);
    color: rgba(0, 0, 0, 0.215);
    margin: 55px 0 0 100px;
    text-shadow: -3px 0px 0px #000000ad;

}

.button {
    width: 250px;
    height: 60px;
    border-radius: 12px;

    background-color: rgb(41, 54, 64);
    box-shadow: 1px 1px 3px #000000ad;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 18px 0 18px 12px;
    margin: 55px 0 0 100px;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.button i {
    font-size: 48px;
}

.button:hover {
    box-shadow: 3px 5px 10px #000000ad;
    transform: scale(1.07);
}


.page2 {
    position: relative;
    height: 1600px;
    width: 100%;
    /* background-color: rgb(0, 13, 255); */
    display: flex;
    justify-content: center;

}

.heading {
    padding: 12px;

    /* background-color: #3c6065; */

}

/* .heading .absolute{
    cursor: pointer;
} */
.heading::first-letter {
    text-transform: capitalize;
}

/* .heading:hover{
    color: white;
} */

.part2 {
    /* height: 1600px; */
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

.features {
    /* width: 100%;
    position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 15; */
    font-family: "Lexend Deca", sans-serif;
    font-size: 42px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    /* margin-top: 60px; */
    padding: 75px 0 25px 60px;
    letter-spacing: 1.6px;
}

.features h6 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 10px;
}

.buttons {

    color: black;
    display: flex;
    gap: 17px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 17px;
}

.buttons .box1 {
    width: max-content;
    background-color: rgb(0, 0, 0);
    padding: 12px 17px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.buttons .box2 {
    width: max-content;
    background-color: white;
    padding: 12px 17px;

    border-radius: 7px;
    cursor: pointer;
}

.buttons .box3 {
    width: max-content;
    background-color: white;
    padding: 12px 17px;

    border-radius: 7px;
    cursor: pointer;
}

.components {
    width: 100%;
    position: relative;
}





.toptext {
    position: absolute;
    top: 0;
    margin-top: 80px;
    font-size: 60px;
    font-weight: 600;
    opacity: 0;
    color: rgba(79, 132, 196, 0.679);
}

.cardcontainer {
    width: 1500px;
    /* height: 100%; */
    position: relative;
    margin-top: 180px;
}

.card {
    /* position: absolute; */
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: transparent;
}

.card:hover {
    box-shadow: 3px 5px 10px #000000ad;
    transform: scale(1.01);
}

.card1 {
    position: absolute;
    top: 10%;
    left: 37%;
    opacity: 1;
}

.card2 {
    position: absolute;
    top: 19%;
    left: 8%;
}

.card3 {
    position: absolute;
    top: 26%;
    left: 66%;

}

.card4 {
    position: absolute;
    top: 44%;
    left: 37%;
}

.card .img1 {
    width: 480px;
    height: 250px;
    background-image: url("public/assets/images/2.png");
    background-position-x: -70%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.card .img2 {
    width: 480px;
    height: 250px;
    background-image: url("public/assets/images/3.png");
    background-position-x: -70%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.card .img3 {
    width: 480px;
    height: 250px;
    background-image: url("public/assets/images/4.png");
    background-position-x: -70%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.card .img4 {
    width: 480px;
    height: 250px;
    background-image: url("public/assets/images/5.png");
    background-position-x: -70%;
    background-size: 80%;
    background-repeat: no-repeat;
}

.innercont {
    display: flex;
    height: 80px;
    padding: 0 40px;
    align-items: center;
    margin-top: 40px;

}

.innercont1 {
    background-color: rgb(44 154 215 / 10%);
}

.innercont2 {
    background-color: rgb(216 3 6 / 7%);
}

.innercont3 {
    background-color: rgb(38 46 58 / 10%);
}

.innercont4 {
    background-color: rgb(255 116 67 / 10%);
}

.innercont h2 {
    font-size: 28px;
    font-weight: 600;
}

.innercont h5 {
    padding-top: 5px;
}

.card .modelname {
    width: 400px;
    /* height: 53px; */
}

.innercont i {
    font-size: 44px;
    color: rgb(0, 0, 0);

}

.part3 {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.part3 .topline {

    text-align: center;
    margin: 50px 0;
}

.part3 .image {
    height: 100%;
    background-image: url("public/assets/images/dashApp2.png");
    position: relative;
    background-size: contain;

}

.part3 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part3 .centercont {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* width: 100%; */
    font-family: "Lexend Deca", sans-serif;


    height: max-content;
    font-size: 52px;


}

.centercont .applogo img {
    width: 98px;
    height: 98px;


}

.centercont .contenttitle {
    cursor: pointer;
    /* text-decoration: underline; */

}

.contenttitle:hover {
    color: rgb(35, 165, 205);
    text-decoration: underline;

}

.centercont .description {

    font-size: 21px;
    font-weight: 300;
    width: 60%;
}

.page3 {
    display: flex;
    flex-direction: column;
    /* gap: 105px; */
    gap: 130px;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    position: relative;
    min-height: 100vh;

}

.customerreview {

    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 20px;
    justify-content: space-between;
    text-align: center;
    gap: 60px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 52px;
    font-weight: 600;
}

.topline {
    font-family: "Lexend Deca", sans-serif;
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 60px;
}

/* .filter {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-weight: 300;
}

.filterbox {
    width: max-content;
    border-radius: 8px;
    padding: 5px 8px;
    background-color: #d6d6d692;
} */

.wrapper {
    max-width: 1300px;
    width: 100%;
    border-radius: 17px;

}


.wrapper .carousel {
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%) - 0px);
    box-shadow: -5px 6px 20px 0px #0000008c;
    outline: 2px solid #000;
    gap: 15px;
    border-radius: 17px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    opacity: 1;

}

.carousel::-webkit-scrollbar {
    scroll-snap-type: none;
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}


.carousel .reviewcard {
    scroll-snap-align: start;
    height: 350px;
    list-style: none;
    background: linear-gradient(45deg, rgb(197, 197, 197)1%, white 20%, white 82%, rgb(197, 197, 197) 100%);
    display: flex;
    border: 3px solid #00000026;
    flex-direction: column;
    align-items: center;
    border-radius: 19px;
    cursor: grab;
    user-select: none;


}

.reviewcard h1 {
    margin: 12px 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1.1px;
}

.rating {
    display: flex;
}

.rating img {

    width: 30px;
    height: 30px;
}

.reviewcontent {
    width: 1000px;
    margin-top: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat";
}

.reviewcard .reviewimg {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin-top: 15px;
}

.reviewcard .reviewimg img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    background: #000;
    border: 2px solid white;
}

.bottomline {
    /* position: absolute;
    bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.bottomline h2 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wavecontainer {
    margin-top: 100px;
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;

    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.endpart {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #343434;

}

.end {
    /* height: 100%; */
    background-color: #343434;
    padding: 100px 200px;
    display: grid;
    column-gap: 80px;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    margin-bottom: 77px;
}

.r1c1 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.r1c1 svg {
    height: 60px;
    width: max-content;
}

.gridcontent {
    color: rgb(201, 201, 201);
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.5px;
}

.r1c2 {
    display: grid;
    /* column-gap: 20px; */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    grid-template-rows: 1fr;
}

.topgridcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: white;

}

.flexcontainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.hoverlink{
    cursor: pointer;
}

.hoverlink:hover {
    transform: translateY(-2px);
    color: #ffffffea;
    font-weight: 400;
}

.r2c1 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-auto-rows: max-content;
}

.r2c2 .subscribe {
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.r2c2 .email {
    display: flex;
    gap: 50px;
    align-items: center;
}

.r2c2 input {
    width: 390px;
    height: 38px;
    font-size: 18px;
    padding: 1px 15px 0 15px;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    outline: none;
    border-radius: 4px;
    min-width: 200px;
    background-color: #656565a8;
    color: white;
}

.r2c2 input::placeholder {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(163, 163, 163, 0.63);

}

.r2c2 button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding-top: 3px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
    width: 140px;
    height: 38px;
    cursor: pointer;

}


@media only screen and (max-width: 1280px) {
    .middlecont {
        /* visibility: hidden; */
        display: none;
    }

    .content {
        width: 90%;
        min-width: 600px;

    }



    .content2 {
        width: 90%;
        min-width: 600px;
        /* margin-top: auto; */
    }

    .features {
        width: 90%;
        min-width: 500px;
        /* padding: 0;
        margin: auto; */
    }

    .comp {
        left: 1%;
    }

    .cardcontainer {
        width: 100%;
        min-width: 600px;
    }

    .card {
        width: calc(100vw/4);
        height: calc(100vw/3.5);
    }

    .card .img {
        width: calc(100vw/4);
        height: calc(100vw/7.5);
    }

    .toptext {
        width: calc(100%/2);
        text-align: center;
        font-size: 42px;
    }


    /* .reviewcard .reviewimg{
        width: 50px;
        height: 50px;
    }
    .reviewcard .reviewimg img{
        width: 50px;
        height: 50px;
    }
    .reviewcard .rating img{
        width: 20px;
        height: 20px;
    } */
    .customerreview {

        gap: 35px;
    }

    .wrapper {
        width: 90%;

    }

    .reviewcontent {
        width: 80%;
        font-size: 20px;
        text-align: justify;
    }

    .end {
        padding: 100px 0px;
        width: 90%;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; */
        min-width: 200px;
    }

    .gridcontent {
        font-size: 15px;
        line-height: 17px;
    }

    .topgridcontent {
        font-size: 21px;
    }

    .r1c2 {
        column-gap: 20px;
        grid-template-columns: repeat(4, 130px);
    }

    .r2c2 input {
        width: 70px;
        height: 30px;
        font-size: 12px;
    }

    .r2c2 input::placeholder {
        font-size: 12px;
    }

    .r2c2 button {
        height: 30px;
        padding: 0;
        font-size: 14px;
    }

    .r2c2 .subscribe {
        font-size: 21px;
    }
}

@media only screen and (max-width: 1024px) {
    .r1c2 {
        column-gap: 5px;
        grid-template-columns: repeat(4, 100px);
    }

    .content {
        /* width: 90%;
        min-width: 600px; */
        margin-left: 70px;
    }

    .content2 {
        /* width: 90%;
        min-width: 600px; */
        /* margin-top: auto; */
        margin-left: 70px;
    }

    .button {
        /* margin: auto; */
        margin-left: 70px;
    }

}

@media only screen and (max-width:768px) {
    .cardcontainer {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .page2 {
        height: 100vh;
    }

    .uppercard {
        /* height: 100%; */
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .lowercard {
        /* height: 100%; */
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .content {
        margin-left: 40px;
    }

    .content2 {

        margin-left: 40px;
    }

    .button {

        margin-left: 40px;
    }


    .innercont {
        /* width: 100%; */
        margin-top: 5px;
        padding: 0 6px;
        /* font-size: 8px; */
    }

    .innercont h2 {
        font-size: 14px;
        padding-left: 6px;

    }

    .innercont h5 {
        font-size: 8px;
        padding-left: 6px;
    }

    .innercont i {
        font-size: 24px;
    }

    .waves {
        height: 40px;
        min-height: 40px;
    }

    .r1c1 svg {
        height: 40px;
    }

    .r1c2 {
        grid-template-columns: repeat(4, 85px);
    }

    .end {
        column-gap: 20px;
        row-gap: 10px;
        /* grid-template-columns: 180px 100px; */
    }

    .r2c2 {
        display: none;
    }

    .topgridcontent {
        font-size: 18px;
    }

    .gridcontent {
        font-size: 12px;
        /* line-height: 15px; */
    }

    .flexcontainer {
        margin-top: 15px;
        gap: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .middlecont {
        /* visibility: hidden; */
        display: none;
    }

    /* .main {
        width: 100vw; */
    /* min-width: 100%;
    } */
    .nav {
        padding: 0px 18px;
    }

    .button {
        /* margin: auto; */
        margin: 60px auto;
    }

    .page1 {
        height: 100vh;
    }

    .page1 .part2 {
        height: 100vh;
    }

    .content {

        min-width: 200px;
        margin: 10px 0 0 20px;
        height: max-content;
    }

    .content h1 {
        font-size: 36px;
        line-height: 43px;
    }

    .content2 {
        min-width: 200px;
        margin: 10px 0 0 20px;
        height: max-content;
        font-size: 17px;
        text-shadow: 1.2px 0px 0px #000000ad;
    }

    .button {
        width: 90%;
        height: 30px;
        font-size: 17px;
        padding: 17px 0;
        padding-bottom: 18px;
        margin: auto;
        margin-top: 25px;
        text-align: center;
        border-radius: 20px;
    }

    .button i {
        display: none;
    }

    .features {
        width: 100%;
        min-width: 200px;
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding: 0 10px;
    }

    .features h6 {

        font-size: 14px;
    }

    .buttons {
        margin-top: 25px;
        justify-content: center;
    }

    .buttons .box {
        width: max-content;
        font-size: 11px;
        font-weight: 400;
    }

    .comp {
        font-size: 8px;
        left: 1%;
        padding: 7px 5px;
    }

    .toptext {
        width: calc(55vw);
        font-size: 20px;
        text-align: center;
    }

    .cardcontainer {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .page2 {
        height: 100vh;
    }

    .uppercard {
        /* height: 100%; */
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .lowercard {
        /* height: 100%; */
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .card {
        position: relative;
        width: 120px;
        height: 160px;
        top: 0;
        left: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        z-index: 10;
    }

    .card .img {
        width: 120px;
        height: 80px;
    }

    .innercont {
        /* width: 100%; */
        margin-top: 5px;
        padding: 0 6px;
        height: 50px;
        /* font-size: 8px; */
    }

    .innercont h2 {
        font-size: 14px;
        padding-left: 6px;

    }

    .innercont h5 {
        font-size: 8px;
        padding-left: 6px;
    }

    .innercont i {
        font-size: 24px;
    }

    .topline {
        font-size: calc(100vw/13);
        gap: 35px;

    }

    .filter {
        font-size: calc(100vw/19);
    }

    .wrapper {
        width: calc(100vw/1.2);
        height: calc(100vw/2);
    }

    .wrapper .carousel {
        outline: none;
    }

    .carousel .reviewcard {
        /* width: calc(100vw/1.2); */
        height: calc(100vw/2);
        /* border-radius: 24px; */
    }

    .reviewcard .reviewcontent {
        width: calc(100vw/1.3);
        height: calc(100vw/10);

    }

    .reviewcard .reviewimg {
        /* display: none; */
        width: 55px;
        height: 55px;
        margin: 8px;
    }

    .reviewcard .reviewimg img {
        /* display: none; */
        width: 52px;
        height: 52px;
    }

    .reviewcard h1 {
        /* width: 90%; */
        margin: 0 0 8px 0;
        font-size: calc(100vw/20);
    }

    .reviewcard .rating img {
        /* width: 90%; */
        height: calc(100vw/20);
        width: calc(100vw/20);
    }

    .reviewcontent {
        width: 80%;
        text-align: center;
        font-size: calc(100vw/36);
        margin-top: 5px;
    }

    .bottomline {
        gap: 5px;
    }

    .bottomline h2 {
        font-size: calc(100vw/28);
    }

    .bottomline img {
        width: 24px;
        height: 24px;
    }

    .part3 .applogo img {
        width: 61px;
        height: 61px;
    }

    .part3 .centercont {
        font-size: 32px;
    }

    .part3 .description {
        letter-spacing: 2px;
        /* text-align: justify ; */
        width: 80%;
        font-size: 14px;
    }

    .r1c1 svg {

        height: 50px;
    }

    .gridcontent {
        font-size: 15px;
        /* text-align: justify; */
        letter-spacing: 0px;
        line-height: 20px;
    }

    .topgridcontent {
        font-size: 28px;
        margin: 0;
    }

    .end {
        margin: 0 auto;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }

    .flexcontainer {
        gap: 15px;
        margin: 3px;
    }

    .r1c2 {
        /* margin: 0 auto; */
        min-width: 200px;
        /* column-gap: auto; */
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content max-content;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        height: 40px;
    }

    .nav {
        height: 40px;
    }

    .nav svg {
        height: 40px;
    }

    .endcontent {
        height: 30px;
        gap: 5px;
    }

    .endcontent i {
        font-size: 12px;
    }

    .endcontent .righticon {
        font-size: 20px;
    }

    .endcontent .profile {
        margin-top: 2px;
        width: 50px;
        height: 20px;
    }

    .endcontent .profileicon {
        height: 16px;
        width: 16px;
    }

    .reviewcard .reviewimg {
        /* display: none; */
        width: 35px;
        height: 35px;
        margin: 7px;
        margin-bottom: 1px;
    }

    .reviewcard .reviewimg img {
        /* display: none; */
        width: 31px;
        height: 31px;
    }

    .reviewcard h1 {
        /* width: 90%; */
        margin: 0;
        margin-bottom: 3px;
        font-size: calc(100vw/20);
    }

    .reviewcontent {
        margin-top: 3px;
    }

    .features {
        width: 100%;
        min-width: 200px;
        font-size: 22px;
        text-align: center;
        margin: 0;
        padding: 0 10px;
    }

    .features h6 {

        font-size: 11px;
    }
}

@media only screen and (max-width: 321px) {

    .features {
        width: 100%;
        min-width: 200px;
        font-size: 17px;
        text-align: center;
        margin: 0;
        padding: 0 10px;
    }

    .features h6 {

        font-size: 10px;
    }

}